.container {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.form-box {
}

.form-label {
  margin: 10px;
}

.form-control {
  border-radius: 8px;
}

.alert {
  text-align: center;
  background-color: red;
  padding: 10px;
  border-radius: 8px;
  margin: 10px;
}
