.main-nav {
  height: 10vh;
  border-bottom: solid black 2px;
  background-color: #de9151;
}

ul {
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li a {
  float: left;
  display: block;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  color: #34403a;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 0.1em;
}

li :hover {
  background-color: #34403a;
  color: #fff;
}
