.image {
  background-blend-mode: overlay;
  background-size: cover;
}

.save-button {
  background-color: #6aa84f;
  color: white;
  border: none;
  border-radius: 15px;
  padding: 4px 16px;
  text-align: center;
  display: inline-block;
  font-size: 12px;
}

.save-button:hover {
  transform: scale(1.05);
  cursor: pointer;
}
