.profile-container {
  display: grid;
  justify-content: center;
  background-color: rgb(181, 225, 150);
}

.profile-top-box {
  width: 50vw;
  height: 15vh;
  background-color: rgb(133, 188, 94);
  margin: 2vh;
  border-radius: 3px;
}
.profile-middle-box {
  width: 50vw;
  height: 55vh;
  background-color: rgb(133, 188, 94);
  margin: 2vh;
  border-radius: 3px;
}
.profile-header {
  margin: 2vh;
}
