.tech-main {
  display: grid;
}

.tech-table {
  grid-column: 1;
  grid-row: 1;
  width: 75vw;
  height: 80vh;
  background-color: brown;
}

.tech-filter {
  grid-column: 2;
  width: 24vw;
  height: 80vh;
  background-color: pink;
}
