.tech-body {
  width: 100%;
  height: 100%;
  border-right: solid black;
}

.tech-row {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.tech-row-content {
  font-size: medium;
  font-weight: bold;
  letter-spacing: 0.1em;
  width: 20%;
  color: #07020d;
}

.filler {
  width: 12%;
}

.icon-box {
  text-align: center;
  background-color: #ffffff;
  height: 30px;
  width: 30px;
  border-radius: 30px;
  margin: 3px;
}

.icon {
  color: #07020d;
}

.main-header {
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.3);
  cursor: default;
  font-size: larger;
}

.header {
  font-size: large;
  font-weight: bolder;
  letter-spacing: 0.1em;
  width: 20%;
  color: #07020d;
}
